APP_NAME=AutoSpot API
DATABASE_URL=postgresql+psycopg://autospot_user:autospot_password@localhost:5433/autospot_db
SECRET_KEY=AutoSpot_best_network_for_car_enthusiasts
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60